# {{ ansible_managed }}

# Global parameters
[global]
        workgroup = {{ samba_domain|upper }}
        realm = {{ samba_realm|upper }}
        netbios name = {{ samba_netbios_name|upper }}
        server role = active directory domain controller
        dns forwarder = {{ samba_dns_forwarder }}
        idmap_ldb:use rfc2307 = yes
        printing = CUPS
        printcap name = /dev/null

[netlogon]
        path = /var/lib/samba/sysvol/{{ samba_realm|lower }}/scripts
        read only = no

[sysvol]
        path = /var/lib/samba/sysvol
        read only = no
